<!DOCTYPE html>
<html lang="">
  <head>
    <base href="[[=URL('static')]]/">
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjQgOEMyMCA4IDE3IDExIDE3IDE1QzE3IDE2IDE3IDE3IDE4IDE4TDE0IDM4TDIwIDM2TDIyIDQyTDI0IDQwTDI2IDQyTDI4IDM2TDM0IDM4TDMwIDE4QzMxIDE3IDMxIDE2IDMxIDE1QzMxIDExIDI4IDggMjQgOFoiIGZpbGw9IiMwMDAiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PGNpcmNsZSBjeD0iMjEiIGN5PSIxNCIgcj0iMS41IiBmaWxsPSIjZmZmIi8+PGNpcmNsZSBjeD0iMjciIGN5PSIxNCIgcj0iMS41IiBmaWxsPSIjZmZmIi8+PHBhdGggZD0iTTIwIDhMMTYgNk0yOCA4TDMyIDYiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48cGF0aCBkPSJNMjQgMTZMMjYgMTgiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvc3ZnPg==">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Stocks</title>
    <script type="module" crossorigin src="[[=URL('static/dist/index.js')]]"></script>
    <link rel="stylesheet" crossorigin href="[[=URL('static/dist/index.css')]]">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
