[[block page_footer]]
<footer class="black">
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; align-items: center; width: 100%; padding: 1rem;">
    <!-- Left: column -->
    <div style="justify-self: start;">
        <span> </span>
    </div>

    <!-- Center: Version Information -->
    <div style="justify-self: center;">
        <span>[[=BEAUTIFY(version_info)]]</span>
    </div>

    <!-- Right: column -->
    <div style="justify-self: end;">
        <span> </span>
    </div>
</div>
</footer>
[[end]]